<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--seo-->
  <meta name="keywords" content="estampados, dibujos, Ilustraciones, diseños">
  <meta name="description" content=" Marca de pañuelos, con diseños únicos, divertidos y originales, para complementar nuestros outfits">
  <title> Estampados - Millie </title>
  <link rel="stylesheet" href=".././sass/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>


<body>
    <!--Menu--> 
    <header>  
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f2d753 ">
          <!-- contenedor del navbar-->
          <div class="container-fluid">
              <a class="navbar-brand" href="../index.html"
              ><img class="main-header__logo" src="../imagenes/1.gif" alt="logo de la marca"/>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="../index.html">News</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="./Prints.html">Estampados</a>
                </li>
                  <li class="nav-item">
                      <a class="nav-link" href="./Scarf.html">Pañuelos</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="./FAQS.html">Preguntas Frecuentes</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="./Contact.html">Contacto</a>
                  </li>
                  </ul>      
                 <form class="d-flex">
                      <div class="box">
                          <div class="container-1">
                              <div class="form-group has-feedback">
                                  <i class="fa fa-search form-control-feedback"></i>
                                  <input type="text" class="form-control" placeholder="Busqueda Avanzada">
                              </div>
                          </div>
                        </div>  
                      <button class="btn btn-outline-warning" type="submit">Buscar</button>      
                  </form>
              </div>
          </div> <!--fin del contenedor navbar-->
          
        </nav>
  </header>
<!-- barra de promociones-->
<section class="container-promo">
    <div class="alert alert-light" role="alert" style="color: white; background-color: #f5d4d1;">
        A TODO EL PAÍS GRATIS CON TU COMPRA SUPERIOR A $3.000 
    </div>
</section>

<!-- productos -->
<section class="container-productos">
    <div class="album py-5 bg-light">
    <div class="container">
  
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
                <img class="fotos__print" id="modelo1" src= "../imagenes/birds.jpeg"  alt="Estampa Animals"/>
                <div class="card-body">
                <h4 class="card-titulo_scarf"> Estampa Animals</h4>
                <p class="card-text"> Dibujo de animales y plantas. <br> Fotografía estampada en seda plizada   </p>
                <div class="product-scarf_button">
                    <p><a class="button-scarf btn-lg" style="background-color: #f5d4d1;" href="#">$ 1.100</a></p>
                </div> 
                </div>
          </div>
        </div>

        <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="fotos__print" src= "../imagenes/botanic1.jpeg"  alt="Estampa Botánico Shine"/>
          <div class="card-body">
            <h4 class="card-titulo_scarf"> Estampa Botánico Shine </h4>
            <p class="card-text">Dibujo botánico de plantas y flores. <br>
                Se recomienda estampar en seda, Creep.</p>
            <div class="product-scarf_button">
                <p><a class="button btn-lg" style="background-color: #f5d4d1;" href="#"> $ 1.100 </a></p>            
            </div> 
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="fotos__print" src= "../imagenes/estampa4.JPG"  alt="Estampa Manitas"/>
          <div class="card-body">
            <h4 class="card-titulo_scarf"> Estampa Manitas </h4>
            <p class="card-text"> Ilustración compuesta <br>
                Se recomienda estampar en seda, algodón. </p>
            <div class="product-scarf_button">
                <p><a class="button btn-lg"  style="background-color: #f5d4d1;" href="#">$ 980 </a></p>            
            </div> 
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="fotos__print" src= "../imagenes/fotoproucto.jpeg"  alt="Estampa Geométrico"/>
          <div class="card-body">
            <h4 class="card-titulo_scarf"> Estampa Geométrico</h4>
            <p class="card-text"> Estampada compuesta geométrico. <br>
              Se recomienda estampar en seda, algodón, lino. </p>
            <div class="product-scarf_button">
                <p class="buton-text"><a class="button btn-lg" style="background-color: #f5d4d1;" href="#">$ 980</a></p>            
            </div> 
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="fotos__print" src= "../imagenes/estampa6.JPG"  alt="Estampa Snake"/>
          <div class="card-body">
            <h4 class="card-titulo_scarf"> Estampa Snake</h4>
            <p class="card-text"> Ilustración compuesta <br> Se recomienda estampar en seda, algodón. </p>
            <div class="product-scarf_button">
                <p><a class="button btn-lg" style="background-color: #f5d4d1;" href="#"> $ 980</a></p>            
            </div> 
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="fotos__print" src= "../imagenes/ilu2.jpeg"  alt="Estampa Yog"/>
          <div class="card-body">
            <h4 class="card-titulo_scarf"> Estampa Yoga</h4>
            <p class="card-text">Ilustración Yoga Pose <br> Se recomienda estampar en lino, algodón. </p>
            <div class="product-scarf_button">
                <p><a class="button btn-lg" style="background-color: #f5d4d1;" href="#"> $ 1.100</a></p>
            </div> 
          </div>
        </div>
      </div>
	  <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="fotos__print" src= "../imagenes/estampa bomb.JPG"  alt="Estampa Big Bang"/>
          <div class="card-body">
            <h4 class="card-titulo_scarf"> Estampa Big Bang</h4>
            <p class="card-text"> Ilustración compuesta <br>
              Se recomienda estampar en algodón, lino. </p>
            <div class="product-scarf_button">
                <p class="buton-text"><a class="button btn-lg" style="background-color: #f5d4d1;" href="#">$ 1.100</a></p>            
            </div> 
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="fotos__print" src= "../imagenes/zorro.JPG"  alt="Estampa Fox"/>
          <div class="card-body">
            <h4 class="card-titulo_scarf"> Estampa Fox</h4>
            <p class="card-text"> Ilustración compuesta<br> Se recomienda estampar en seda, algodón. </p>
            <div class="product-scarf_button">
                <p><a class="button btn-lg" style="background-color: #f5d4d1;" href="#">$ 1.100</a></p>            
            </div> 
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="fotos__print" src= "../imagenes/marine.jpg"  alt="Estampa Alta Mar"/>
          <div class="card-body">
            <h4 class="card-titulo_scarf"> Estampa Alta Mar</h4>
            <p class="card-text"> Ilustración compuesta temática sirena <br> Se recomienda estampar en seda, algodón. </p>
            <div class="product-scarf_button">
                <p><a class="button btn-lg" style="background-color: #f5d4d1;" href="#"> $ 1.100</a></p>
            </div> 
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
 
</section>

<!-- footer -->
<footer class="container-footer">
<div class="footer-content">
    <h3>Contacto</h3>
    <p>
        <div class="contacto">
            <p id="nombre" class="contacto"> Millie Bsas</p>
            <p class="contacto"> Av. Cordoba 3200 - Caba</p>
            <p class="contacto"> info@millie.com.ar</p>
            <p class="contacto">11-5555-4444</p>
        </div>
    </p>
    <ul class="socials">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-google"></i></a></li>
    </ul>
    
</div>
<div class="footer-bottom">
    <p>copyright &copy;2020 codeOpacity. designer by <span> Kim Pampa </span></p>
</div>


</footer>

</body>

<!--scrips-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</html>